* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #0c1022;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  color: #fff;
}

.container {
  position: relative;
  /* width: 25vw; */
  height: 100%;
  background: rgba(0, 0, 0.75);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  height: 950px;
  width: 950px;
  background: conic-gradient(transparent, transparent, transparent, #d400d4);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(transparent, transparent, transparent, #00cfff);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* for animation in corners lines */
.image {
  /* position: absolute; */
  inset: 10px;
  background: transparent;
  background-color: #0c1022;
  z-index: 1;
  border-radius: 50%;
  width: 60vw;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.form-box .form h2 {
  font-size: 32px;
  color: #fff;
  text-align: center;

  margin-bottom: 30px;
}

table tr td {
  border: solid 1px #ccc;
  padding: 10px;
}
